
/* img {
  max-width: 25%;
} */

img.cardImg {
  
}

.texttop {
  color: #313131;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 55.904px;
  font-style: normal;
  font-weight: 500;
  line-height: 157%;
  /* 87.769px */
  letter-spacing: 0.399px;
}

.example-card {
  width: 200px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 15.39px;


}
